body {background-color: beige;
}
h1 {text-align: center;
    color: cadetblue;
    font-size: 400%;
}
#ima1 {margin-left: 30%;
    border-color: black;
    border-width: 20px;
    border-style: double;
}

h2  {text-align: center;
    border-color: black;
    border-width: 20px;
    border-style:inset;
    margin-right: 50%;
    }

h3  {text-align: center;
    border-color: black;
    border-width: 20px;
    border-style:inset;
        margin-left: 50%;
    }